@{
    <h1>Greates bands of all time</h1>
<br/>
foreach (var item in @ViewBag.bands)
{
    <p>@item</p>
    <br/>
}
{
    
}
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>