@{
    <h1>Velkommen til mit første view</h1>
    <p>Dette er mit første program </p>
    <br/>
    <p>Name: @ViewBag.name</p>
    <br/>
    <p>Age: @ViewBag.age</p>
    <br/>
    <p>Birthdate: @ViewBag.birthdate</p>
    <br/>
}
